body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #000000, #1a1a1a);
    border-bottom: 2px solid #f39c12;
}

header h1 { margin: 0; letter-spacing: 3px; }

#map { height: 75vh; width: 100%; }

.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    background: #111;
}

.card {
    background: #1c1c1c;
    padding: 20px 50px;
    border-radius: 10px;
    border: 1px solid #f39c12;
    text-align: center;
}

.card h2 { margin: 0; color: #f39c12; }
